.border-box {
    border: solid 1px black;
    display: block;
    padding: 1%;
    max-height: 400px;
    overflow-y: auto;

}

.container {
    padding: 1%;
}

.tablesection {
    background-color: grey;
}

.table {
    background-color: white;
    text-align: center;
    border: solid 1px black;
    margin: auto;
}
