.border-box {
    border: solid 1px black;
    display: block;
    padding: 1%;
    max-height: 400px;
    overflow-y: auto;

}

.container {
    padding: 1%;
}

.tablesection {
    background-color: grey;
}

.table {
    background-color: white;
    text-align: center;
    border: solid 1px black;
    margin: auto;
}




.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: lightgray;
}

.modal-content{
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
}